<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/header :: head">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <div th:replace="includes/header :: top-navigation"></div>
    <br/>
    <div class="page-header">
        <div class="container">
            <div class="hero-unit">
                <h1 th:text="${welcome}"></h1>
                <p
                        th:text="${appDescription}">
                </p>
                <p>
                    <a class="btn btn-large btn-success" href="/convert" th:href="@{/convert}">Convert</a>
                </p>
            </div>
        </div>
    </div>

    <div th:replace="includes/footer :: footer"></div>
    </div>
</body>
</html>