<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link th:href="@{libs/css/sticky-footer-navbar.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{libs/css/admin.css}" rel="stylesheet" media="screen"/>
    <link rel="shortcut icon"
          th:href="@{libs/css/favicon.ico}">
</head>
<body>
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="top-navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">Currency Converter</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/convert">Convert</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>
